### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Logs ###
*.log

### Sistema ###
.DS_Store
Thumbs.db
